<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yws.server.mapper.UserMapper">
    <resultMap id="userMP" type="com.yws.server.dto.User">
        <id property="id" column="id"></id>
        <result property="firstName" column="first_name"></result>
        <result property="lastName" column="last_name"></result>
        <result property="lastUpdateTime" column="last_update_time"></result>
    </resultMap>

    <select id="selectById" parameterType="int" resultMap="userMP">
      SELECT *
      FROM user
      WHERE id=#{id}
    </select>

</mapper>